@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/************************************************** customize tailwindcss elements  */
@theme {
    /* Add custom colors. usage: bg-midnight text-midnight. but first disable any default color by setting the theme namespace for that color to initial: */
    --color-lime-*: initial;
    --color-fuchsia-*: initial;

    --color-primary: #0c5;
    --color-secondary: #03bfa5;
    --color-background: #e9ecef;
    --color-surface: #ffffff;
    --color-text-primary: #212121;
    --color-text-secondary: #757575;
    --color-border: #e0e0e0;
    --color-success: #4caf50;
    --color-error: #f44336;
    --color-warning: #ff9800;
    --color-info: #2196f3;

    /* Dark Mode */
    --color-dark-primary: #0c5;
    --color-dark-secondary: #03dac6;
    --color-dark-background: #121212;
    --color-dark-surface: #1e1e1e;
    --color-dark-text-primary: #e0e0e0;
    --color-dark-text-secondary: #bdbdbd;
    --color-dark-border: #333333;
    --color-dark-success: #81c784;
    --color-dark-error: #e57373;
    --color-dark-warning: #ffb74d;
    --color-dark-info: #64b5f6;

    /* custom breakpoints */
    --breakpoint-*: initial;
    --breakpoint-mobile: 28rem;
    --breakpoint-tablet: 42rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;

    /* custom fonts. Usage: className="font-roboto"*/
    --font-roboto: "Roboto", sans-serif;
}

/************************************************** reusable components */
@layer components {
    .btn-primary {
        @apply rounded-full bg-[var(--color-primary)] px-5 py-2 text-[var(--color-background)] dark:text-[var(--color-dark-background)] shadow-md cursor-pointer transition;
    }

    @media (hover: hover) {
        .btn-primary:hover {
            @apply bg-[var(--color-secondary)];
        }
    }

    .btn-secondary {
        @apply rounded-full bg-[var(--color-secondary)] px-5 py-2 text-[var(--color-background)] dark:text-[var(--color-dark-background)] shadow-md cursor-pointer transition;
    }

    @media (hover: hover) {
        .btn-secondary:hover {
            @apply bg-[var(--color-primary)];
        }
    }
}



/* these keyframes are for the toast animations */
@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@layer utilities {
    .animate-slide-in-right {
        animation: slide-in-right 0.4s ease-out forwards;
    }

    .animate-slide-out-right {
        animation: slide-out-right 0.4s ease-in forwards;
    }
}


/************************************************** add/remove the ability to drag some elements */
.DRAGGABLE {
    --wails-draggable: drag;
}

* {
    --wails-draggable: no-drag;
}

/************************************************* Hide scrollbar for all elements */
::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*************************************************** some shared styles */
ul {
    margin: 0;
    padding: 0 0 0 1.5em;
    list-style-type: none;
}

li {
    margin: 1.5em 0;
    padding: 0;
}